/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
    color: #10001f;
    background-color: #f9f9f9;
}

section{
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section label {
    font-weight: bold;
}

section input {
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.campo {
    gap: 10px;
}

.campo input {
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

section button {
    padding: 12px 24px;
    background-color: #007aff;
    box-shadow: 0 2px 6px #01458f;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
}

#imcCalculado, #classificacao {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}